<p id="notice" class="errors"><%= notice %></p>

<table class="table table-striped task-table">
  <thead>
    <tr>
      <th colspan="3"> <h3>Tasks</h3></th>
    </tr>
  </thead>
<%if @tasks.present?%>
  <tbody class="tasks">
    <%if current_user%>
      <% @tasks.each do |task| %>
      <tr class="task">
        <td class="name"><%= task.name %></td>
        <td class="description"><%= task.description%></td>
        <td>
          <span><%= link_to 'Show', task, :class=>'btn btn-primary' %></span>
          <span><%= link_to 'Edit', edit_task_path(task), :class=>'btn btn-warning' %></span>
          <span><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %></span>
        </td>
      </tr>
      <% end %>
    <%end%>
  </tbody>
<%else%>
<td>You have no tasks yet(</td>
<%end%>
</table>

<br>

<%= link_to 'New Task', new_task_path, :class=>'btn btn-default btn-lg' %>
